body {
	padding: 0;
    margin: auto;
	background: #1c1c1c;
	color: white;
	font-size: 14px;
    max-width: 800px;
	font-family: monospace; 
}

figure {
  text-align: center
}

figcaption{
  font-style: italic;
}

h4{
  margin: 5px;
  font-size: larger;
}


article {background: rgba(255,255,255,0.1);
	padding: 5px 32px;
    margin: 10px 0;
    line-height: 1.5em;
    box-sizing: border-box;
	border-radius: 9px;
}

header {  margin: auto;  text-align: center;   }

main img{
    width: 400px;
    max-width: 95%;
    height: auto;
}

header img{
    width: 800px;
    max-width: 100%;
    height: auto;
}

footer {
  position: sticky;
}
